.contact-content {
  padding: 30px 0;

  ul {
    @include reset-list;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.contact-content-address {
  padding-left: 0;
  padding-right: 0;

  @include mq('md') {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section-contact {
    background-color: #007eff;

    // section heading
    h2 { 
        color: white;

        // spacing below header
        margin-bottom: 30px;
        @include mq('lg') {
          margin-bottom: 50px;
        }
    }

    // Field label
    label { 
        color: white;
        width: 100%;
        font-size: $font-sz-5;
    }

    p {
      // spacing between fields
        margin-bottom: 8px;   
    }
}

// All text fields
input[type="text"],
input[type="email"],
input[type="number"],
textarea
{
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 6px 10px;
    margin-top: 3px;
}

textarea {
    font-size: $font-sz-6;
    resize: none;
    height: 150px;
    color: grey;
}

span.wpcf7-list-item {
  // Remove left margin from "Sign up" checkbox
    margin: 0;  
}

// Submit button
input[type="submit"] {
    @include button($col-primary);

    font-size: $font-sz-4;
    font-weight: 500;
    height: 50px;
    padding: 0 40px;
    margin: 0 auto;
    margin-top: 20px;
}

// Hide processing gif used when submit button is pressed
div.wpcf7 .ajax-loader {
  background-image: none;
}

// Center submit button
.wpcf7-form p:last-of-type {
    text-align: center; 
}

// Submit response message
.wpcf7-response-output {
  background-color: white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

// Response message type error
div.wpcf7-validation-errors {
  border: 2px solid red;
}


///////////////////////////////////
////  Custom "Sign Up" checkbox
///////////////////////////////////

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Customize the label (the container) */
.checkbox-wrapper {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 22px;
    // margin-left: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-wrapper:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-wrapper input:checked ~ .checkmark {
    background-color: $col-primary;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-wrapper input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-wrapper .checkmark:after {
    left: 11px;
    top: 5px;
    width: 8px;
    height: 17px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


///////////////////////////////////
////  Custom dropdown button
///////////////////////////////////


.Country {
  padding: 9px 0;
}

.Country select {
    background-color: white;
    color: black;
    padding: 6px 10px;
    width: 100%;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 5px;
  }
  
  .Country::before {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: $col-primary;
    background-color: rgb(170, 170, 170);
    pointer-events: none;
    border-radius: 5px;
  }
  
  .Country:hover::before {
    color: rgba(170, 170, 170, 0.6);
    background-color: $col-primary;
  }
  
  .Country select option {
    padding: 30px;
  }

