footer {
    text-align: center;
    background-color: #d8d8d8;
    //letter-spacing: 0.4px;

    a:hover {
        text-decoration: underline;
    }

    // Footer sections header (Sitemap, Links, Contact Us and Follow Us)
    h4 {
        font-size: $font-sz-6;
        font-weight: 600;
        margin-bottom: 15px;
    }

    // Remove default list styling
    ul {
        list-style-type: none;
        padding: 0;
    }

    // method logo
    img {
        width: 100%;
        margin-bottom: 30px;
        max-width: 200px;
    }

    address {
        // Reduce spacing beween each line of the address
        line-height: 1.2;
    }

    @include mq('md') {
        text-align: left;
    }
}

// copywrite symbol
.character-cpy {
    font-size: 1.4rem;
}

// Mobile view button
.to-top {
    text-align: center;
    
    i {
        font-size: 4rem;
        color: $col-primary;
    }
}

// Used for spacing 
.vertical-space {
    height: 5px;
}

.social 
{
    a  {
        display: block;
        position: relative;
        width: 0;
        border-radius: 50%;

        // center icon in mobile view
        margin: 0 auto;

        @include mq('md') {
            margin: 0;
        }

        // icon size
        padding: 23px;

        // text
        color: white;
        font-size: 1rem;

        // fontawesome character
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -0.5rem;
            margin-top: -0.5rem;
        }
    }

    li {
        // vertical spcing
        height: 60px;

        // small indent to space away from email address
        @include mq('md') {
            margin-left: 10px;
        }
    }
}


#facebook {
    background-color: #3b5998;

    i {
        // nudge to right
        left: 55%;
    }
}

#twitter {
    background-color: #00aced;
}

#linkedin {
    background-color: #0077b5;
}