
@mixin button($color) {
    background-color: $color;
    color: white;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: $font-sz-6;
    text-transform: uppercase;
    font-weight: 600;
    padding: 3px 13px 0 13px;
    height: 35px;

    transition: background-color 80ms ease-out;

    &:hover {
        background-color: darken($color, 10%);
    }

    &:active {
        box-shadow: 0 0 3pt 2pt $col-primary;
    }
}

@function px-to-pc($target, $context) {
    @return ($target / $context) * 100%;
 }


 @function px-to-rem($target, $context) {
   @return ($target / $context) * 1rem;
 }


 @mixin mq($break) {

    @if $break == 'sm' {
        @media only screen and (min-width: map-get($breakpoints, 'sm')) {
            @content;
        }
    }
    @else if $break == 'md' {
        @media only screen and (min-width: map-get($breakpoints, 'md')) {
            @content;
        }				
    }
    @else if $break == 'lg' {
        @media only screen and (min-width: map-get($breakpoints, 'lg')) {
            @content;
        }				
    }
    @else if $break == 'xl' {
        @media only screen and (min-width: map-get($breakpoints, 'xl')) {
            @content;
        }				
    }
}