.nav-bar
{
    a
    {
        margin-left: 15px;  
        color: white;
    }
    .current_page_item a
    {
        color: rgba(249, 105, 14, 1);
    }
    

    .container
    {
        ul{
            .nav
            {
                width: 30rem;
                font-size: x-large;
                text-align: center;
            }
            flex-direction: row;
            text-align: center;
            justify-content: end;
        }
        display: flex;
        justify-content: end;
    }

    background-color: rgba(0, 0, 0, 0.6);
    height: 100px;
    
}

