.section-news {
    padding-top: 20px;
}

.pagination {
    font-size: $font-sz-5;
    font-weight: 600;

    a:hover {
        text-decoration: underline;
    }
}


// Hide last article when displaying an even number of columns
@media only screen and (min-width: map-get($breakpoints, 'md')) {
    .news-page .news-card:nth-of-type(9) {
        display: none;
    }

    .news-latest .news-card:nth-of-type(3) {
        display: none;
    }
}

// Reveal last article when displaying an odd number of columns
@media only screen and (min-width: map-get($breakpoints, 'lg')) {
    .news-page .news-card:nth-of-type(9) {
        display: block;
    }

    .news-latest .news-card:nth-of-type(3) {
        display: block;
    }
}

.article-content {
    background-color: $col-bg-grey;
    padding-top: 30px;

    font-size: $font-sz-5;

    // Date
    small {
        color: $col-text-blue;
        font-weight: 500;
        font-size: $font-sz-6;
    }
}